<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Editable TreeGrid - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="{CSS_URL}/easyui.css">
    <link rel="stylesheet" type="text/css" href="{CSS_URL}/icon.css">
    <script type="text/javascript" src="{JS_URL}/jquery.min.js"></script>
    <script type="text/javascript" src="{JS_URL}/jquery.easyui.min.js"></script>
    <style>
        .easyui-linkbutton{
            outline: none;
        }
    </style>
</head>
<body style="margin-top:30px;margin-left:30px;">
<div style="margin:20px 0;">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="edit()">修改</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="del()">删除</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="save()">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="cancel()">取消</a>
</div>
<table id="tg" class="easyui-treegrid" title="查看分类" style="width:60%;height:auto;"
       data-options="
				iconCls: 'icon-ok',
				rownumbers: true,
				animate: true,
				collapsible: true,
				fitColumns: true,
				url: 'index.php?m=admin&f=category&a=showcatcheck',
				method: 'get',
				idField: 'id',
				treeField: 'cname',
				showFooter: true,
			">
    <thead>
    <tr>
        <th data-options="field:'cname',width:60,editor:'text'">分类名称</th>
        <th data-options="field:'cinfo',width:180,align:'right',editor:'text'">分类简介</th>

    </tr>
    </thead>
</table>
<script src="{JS_URL}/category.js"></script>
</body>
</html>