<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加管理员</title>
    <link rel="stylesheet" href="{CSS_URL}/bootstrap.css">
    <script src="{LIBS_URL}/upload.js"></script>
    <script src="{JS_URL}/jquery-3.2.1.js"></script>
    <!--写一个js文件-->
</head>
<style>
    body{
        padding:0 0 30px 0;
    }
    .container{
        margin-top:30px;
        width:60%;
        margin-bottom:30px;
    }
    .parent{
        color:#333;
    }
</style>
<body>
<div class="container">
    <form action="index.php?m=admin&f=user&a=edituserCheck" method="post">
        <div class="form-group">
            <label for="uname">用户名称</label>
            <input type="text" class="form-control" id="uname" placeholder="用户名称" name="uname"
                   value="{$result['uname']}"  required>
        </div>
        <div class="form-group">
            <label for="upass">输入密码</label>
            <input type="password" class="form-control" id="upass" placeholder="密码" name="upass"
                   value="{$result['upass']}" required >
        </div>
        <div class="form-group">
            <label for="upass">再次输入密码</label>
            <input type="password" class="form-control" id="upassA" placeholder="密码" name="upassA"
                   value="{$result['upass']}" required>
        </div>
        <div class="form-group">
            <label for="unicheng">用户昵称</label>
            <input type="text" class="form-control" id="unicheng" placeholder="用户昵称" name="unicheng"
                   value="{$result['unicheng']}">
        </div>
        <div class="form-group">
            <label for="uphone">用户电话</label>
            <input type="text" class="form-control" id="uphone" placeholder="用户电话" name="uphone"
                   value="{$result['uphone']}">
        </div>
        选择用户角色 <br> <br>

        {foreach $lists as $v}
        <label class="radio-inline">
            <input type="radio" name="ulevel" id="inlineRadio1" value="{$v['rid']}" required  admintype="{$v['rname']}">{$v['rname']}
        </label>
        {/foreach}

        <br> <br>
        <span id="checkradio" style="visibility: hidden">{$rid}</span>
        上传头像
        <br>
        <div class="parent">
            <input type="hidden" name="uid" value="{$result['uid']}">
        </div>
        <input type="hidden" name="uphoto">
        <br>
        <button type="submit" class="btn btn-default">修改</button>
    </form>
</div>
</body>
</html>
<script>
    let upload=new Upload();
    upload.selectBtnStyle="width:130px;height:40px;background:#6d6d73;" +
        "border-radius:5px;";
    upload.upBtnStyle="width:130px;height:40px;background:#3c4c87;" +
        "border-radius:5px;clear:both;";
    upload.createView({
        parent:document.querySelector('.parent'),
    });
    upload.up('index.php?m=admin&f=admin&a=Upload',function (e) {
        var uphoto=document.querySelector('input[name=uphoto]');
        uphoto.value=e;
    });
    inlineRadioS=document.querySelectorAll('#inlineRadio1');
    for(let i=0;i<inlineRadioS.length;i++){
        if($('#checkradio').text()==inlineRadioS[i].value){
            inlineRadioS[i].checked=true;
        }
    }
</script>
