<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加管理员</title>
    <link rel="stylesheet" href="{CSS_URL}/bootstrap.css">
    <script src="{LIBS_URL}/upload.js"></script>
    <script src="{JS_URL}/jquery-3.2.1.js"></script>
    <!--写一个js文件-->
</head>
<style>
    .container{
        margin-top:30px;
        width:60%;
        margin-bottom:30px;
    }
    .parent{
        color:#333;
    }
</style>
<body>
<div class="container">
    <form action="index.php?m=admin&f=admin&a=editadminCheck" method="post">
        <div class="form-group">
            <label for="aname">管理员名称</label>
            <input type="text" class="form-control" id="aname" placeholder="管理员名称" name="aname"
                   value="{$result['aname']}"  required>
        </div>
        <div class="form-group">
            <label for="apass">输入密码</label>
            <input type="password" class="form-control" id="apass" placeholder="密码" name="apass"
                   value="{$result['apass']}" required >
        </div>
        <div class="form-group">
            <label for="apass">再次输入密码</label>
            <input type="password" class="form-control" id="apassA" placeholder="密码" name="apassA"
                   value="{$result['apass']}" required>
        </div>
        选择管理员级别 <br> <br>

        {foreach $data as $v}
        <label class="radio-inline">
            <input type="radio" name="lid" id="inlineRadio1" value="{$v['lid']}" required  admintype="{$v['lname']}">{$v['lname']}
        </label>
        {/foreach}

        <br> <br>
        <span id="checkradio" style="visibility: hidden">{$lid}</span>
        上传头像
        <br>
        <div class="parent">
            <input type="hidden" name="aid" value="{$result['aid']}">
        </div>
        <input type="hidden" name="imgpath">
        <br>
        <button type="submit" class="btn btn-default">修改</button>
    </form>
</div>
</body>
</html>
<script>
    let upload=new Upload();
    upload.selectBtnStyle="width:130px;height:40px;background:#6d6d73;" +
        "border-radius:5px;";
    upload.upBtnStyle="width:130px;height:40px;background:#3c4c87;" +
        "border-radius:5px;clear:both;";
    upload.createView({
        parent:document.querySelector('.parent'),
    });
    upload.up('index.php?m=admin&f=admin&a=Upload',function (e) {
        var imgpath=document.querySelector('input[name=imgpath]');
        imgpath.value=e;
    });
    inlineRadioS=document.querySelectorAll('#inlineRadio1');
    for(let i=0;i<inlineRadioS.length;i++){
        if($('#checkradio').text()==inlineRadioS[i].value){
            inlineRadioS[i].checked=true;
        }
    }
</script>
