<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户的订单管理</title>
    <style>
        table{
            width:90%;
            height:auto;
            border-collapse: collapse;
            margin:0 auto;
        }
        th,td,tr{
            border:1px solid #ccc;
            padding:4px 6px;
            text-align:center;
        }
        table a{
            text-decoration: none;
            display: inline-block;
            padding:4px 6px;
            background:#49acec;
            color:#fff;
            border-radius: 4px;
        }
    </style>
</head>
<body>
   <table>
       <tbody>
         <tr>
             <th>用户名</th>
             <th>订单号</th>
             <th>订单详情</th>
             <th>价格</th>
             <th>时间</th>
         </tr>
         <tr>
             <td>李巧兰</td>
             <td>ID23645784</td>
             <td>conid</td>
             <td>32元</td>
             <td>2014-2-9 9:00</td>
         </tr>
         <tr>
             <td>李巧兰</td>
             <td>ID23645784</td>
             <td>conid</td>
             <td>32元</td>
             <td>2014-2-9 9:00</td>
         </tr>
         <tr>
             <td>李巧兰</td>
             <td>ID23645784</td>
             <td>conid</td>
             <td>32元</td>
             <td>2014-2-9 9:00</td>
         </tr>
       </tbody>
   </table>
</body>
</html>