*{
	margin:0;
	padding:0;
	list-style:none;
    text-decoration:none;	
}
/*about开始*/
.about{
	width:100%;
	height:auto;
	background:#fff;
	padding-top:70px;
    padding-bottom:70px;	
    overflow: hidden;
}
.aboutLeft{
	width:45%;
	height:332px;
	float:left;
	/*background:#1DA1F2;*/
	position:relative;
	overflow: hidden;
}
.aboutLeft>li{
	width:100%;
	height:332px;	
}
.aboutLeft>li{
	position: absolute;
	top:0px;
	left:100%;
}
.aboutLeft>li:first-child{
	width:100%;
	height:332px;	
	/*background:url(../img/g1.jpg) no-repeat center center;*/
	background-size:cover;
	position: absolute;
	top:0px;
	left:0px;	
}
.aboutLeft>li:nth-child(2){
	width:100%;
	height:332px;	
	/*background:url(../img/g2.jpg) no-repeat center center;*/
	background-size:cover;
}
.aboutLeft>li:nth-child(3){
	width:100%;
	height:332px;	
	/*background:url(../img/g3.jpg) no-repeat center center;*/
	background-size:cover;
}
.aboutBtn{
	width:100px;
	height:25px;
	/*background:red;*/
	position:absolute;
	bottom:50px;
	right:30px;
}
.aboutBtn>div{
	/*background:blue;*/
	float:left;
	padding-left:10px;
	margin-right:30px;
	cursor:pointer;
}
.aboutBtn>div:last-child{
	margin-right:0;
	padding-left:0;
}
.aboutBback .icon-zuojiantou{
	font-size:25px;
	color:#fff;
}
.aboutBgo .icon-youjiantou{
	font-size:25px;
	color:#fff;
}
/*底部轮播横条*/
.abtransform{
    width:120px;
    height:4px;	
	background:#dedede;
	position:absolute;
	bottom:35px;
	right:30px;
	display:none;
}
.abtransformA{
	width:0px;
    height:4px;	
    position:absolute;
    top:0;
    left:0;
    background:#A3A09C;	
    /*transition:3s;*/
}
/*小圆点*/
.aboutD{
	width:58px;
	height:10px;
	position:absolute;
	bottom:15px;
	right:30px;	
	/*background:deepskyblue;*/
	display:flex;
	justify-content:space-between;
}
.aboutD>li{
	width:10px;
	height:10px;
	border-radius:50%;
	background:#6495ED;
	cursor:pointer;
}
.aboutD .aboutDHot{
	background:#F44336;	
}
.aboutRight{
	width:50%;
	height:332px;
	float:right;
	/*background:#EA4C89;*/
}
.aboutRight>p:first-child{
	font-size:40px;
	color:#F44336;
	font-weight:100;
	font-family:helvetica;
	margin-bottom:26px;
}
.aboutRight>p:nth-child(2){
	font-size:18px;
	font-family:helvetica;
	color:#626262;
	line-height:34px;
	margin-bottom:12px;
}
.aboutRight>p:nth-child(2)>i{
	font-style:normal;
	color:#729EEE;
}
.aboutRight>p:nth-child(3){
	font-size:16px;
	color:#999;
	font-family:helvetica;
	line-height:24px;
	margin-bottom:36px;
}
.aboutRight>p:nth-child(4){
	width:122px;
	height:42px;
	border:1px solid #212121;
	text-align:center;
	line-height:40px;
   color:#212121;
   font-size:16px;
   font-family: helvetica;
}
.aboutRight>p:nth-child(4):hover{
	transition:all .5s ease;
	border:1px solid #6495ed;	
   color:#6495ed;	
}
@media screen and (max-width:740px){
	.about>main{
		width:94%;	
		display: block;
		margin:0 auto;
	}	
   .aboutLeft{
		width:100%;
		box-sizing:border-box;
		}	
	.aboutRight{
		width:100%;
		height:auto;
		padding-top:20px;
		padding-left:30px;
		margin-bottom:20px;
		box-sizing:border-box;		
	}			
}
/*about结束*/
/*HOPA开始*/
.hopa{
	width:100%;
	height:auto;
	background:url(../img/3.jpg) no-repeat center center/cover;
	padding-top:70px;
	padding-bottom:70px;
	box-sizing:border-box;
	overflow:hidden;
}
.hopa .hopaNav{
	width:100%;
	height:auto;
}
.hopaNav>li{
	width:25%;
	height:auto;
	float:left;
	display: flex;
	flex-direction:column;
	align-items:center;
}
.hopaNav>li .iconfont{
	font-size:40px;
	color:#fff;
}
.hopaNav>li>p:nth-child(2){
	font-size:20px;
	font-family: helvetica;
	color:#fff;
	font-weight:100;
	margin-top:14px;	
}
.hopaNav>li>p:last-child{
	font-size:48px;
	font-family: helvetica;
	font-weight:100;
	margin-top:14px;		
}
@media screen and (max-width:992px){
	.hopa{
		padding-top:36px;
		padding-bottom:36px;
	}	
	.hopa>main{
		width:100%;
	}
	.hopaNav{
	   width:100%;
	   height:auto;
	}	
   .hopaNav>li{
   	  width:50%;
   	  margin-top:30px;
    }   
	.hopaNav>li .iconfont{
		font-size:36px;
	}
	.hopaNav>li>p:nth-child(2){
		font-size:18px;
	}
	.hopaNav>li>p:last-child{
		font-size:36px;
	}
	  	
}
@media screen and (max-width:744px){
	.hopa{
		padding-top:36px;
		padding-bottom:36px;
	}	
	.hopa>main{
		width:100%;
	}
	.hopaNav{
	   width:100%;
	   height:auto;
	}	
   .hopaNav>li{
   	  width:50%;
   	  margin-top:30px;
    }   
	.hopaNav>li .iconfont{
		font-size:30px;
	}
	.hopaNav>li>p:nth-child(2){
		font-size:14px;
	}
	.hopaNav>li>p:last-child{
		font-size:30px;
	}
	  	
}
/*HOPA结束*/
/*team开始*/
.team{
	width:100%;
	height: auto;
	overflow:hidden;
	padding:50px 0;
	box-sizing:border-box;
}
.teamTop{
	font-size:40px;
	color:#F44336;
	font-family:helvetica;
	text-align:center;
	font-weight:200;
	margin-bottom:40px;
}
.teamNav{
	width:100%;
	height:auto;
	/*overflow:hidden;*/
	display:flex;
	justify-content:space-between;
}
.teamNav>li{
	width:22%;
	height:300px;
	float:left;
	position:relative;	
	overflow:hidden;
}
.teamNav>li>a{
	display: block;
	width:100%;
	height:100%;
	cursor:pointer;
}
.teamPart{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.65);
	padding-top:50px;
	box-sizing:border-box;
	position:absolute;
	top:-100%;
	left:0;
	box-sizing:border-box;
}
.teamPart>h2{
	width:75%;
	margin:0 auto;
	font-size:24px;
	line-height:50px;
	font-family:helvetica;
	color:#fff;
	font-weight:400;
	letter-spacing:1px;
}
.teamPart>h3{
	width:80%;
	margin:0 auto;	
	font-size:12px;
	line-height:20px;
	font-family:helvetica;
	color:#fff;
	font-weight:100;
	letter-spacing:1px;	
	text-align:center;
}
.teamPart>h4{
	width:50%;
	height:36px;
	background:#6495ed;
	position:absolute;
	left:25%;
	right:25%;
	margin-right:auto;
	margin-left:auto;
	bottom:0;
	display: flex;
	align-items:center;
	justify-content:center;	
}
h4 .h4{
	width:50%;
	height:auto;
	display:flex;
	justify-content:space-between;
}
.h4>li{
	font-size:9px;
	color:#fff;
	float:left;
	width:15px;
	height:15px;
	border:1px solid #fff;
	color:#fff;
	text-align:center;
	line-height:15px;
	cursor:pointer;
}
.h4>li:first-child:hover{
	transition:all 1s ease;
	background:#337ab7;
	border:1px solid #337ab7;
}
.h4>li:nth-child(2):hover{
	transition:all 1s ease;
	background:#1da1f2;
	border:1px solid #1da1f2;
}
.h4>li:nth-child(3):hover{
	transition:all 1s ease;
	background:#ea4c89;
	border:1px solid #ea4c89;
}
.teamNav>li:hover .teamPart{
   	top:0;
   	transition:all 0.6s ease 0.18s;
}
.teamNav>li:hover h4{
	width:100%;
	height:72px;
	position:absolute;
	left:0;
	bottom:0;	
   	transition:all 0.8s;	
}
.teamNav>li:hover .h4{
	width:25%;
	height:auto;
   	transform:scale(2,2);	   	
}
@media screen and (max-width:800px){
	.team>main{
		width:90%;
		height:auto;
		margin:0 auto;
	}
	.teamTop{
		font-size:30px;
	}	
	.teamNav{
		width:100%;
		height:auto;
		display: block;
		overflow: hidden;
	}
	.teamNav>li{
		width:42%;
		height:300px;
		float:left;
		position:relative;	
		/*overflow:hidden;*/
		margin-bottom:30px;
		margin-right:15%;
	}
	.teamNav>li:nth-child(2n){
		margin-right:0px;		
	}	
}
@media screen and (max-width:500px){
	.team>main{
		width:100%;
		height:auto;
		margin:0 auto;
	}
	.teamTop{
		font-size:20px;
	}	
	.teamNav{
		width:100%;
		height:auto;
		display: block;
		overflow: hidden;
	}
	.teamNav>li{
		width:100%;
		height:300px;
		float:left;
		position:relative;	
		/*overflow:hidden;*/
		margin-bottom:30px;
	}
}
/*team结束*/