*{
	margin:0;
	padding:0;
	list-style: none;
	text-decoration:none;
}
/*new开始*/
.new{
	width:100%;
	/*background:#0086B3;*/
	height:auto;
	padding-top:60px;
	padding-bottom:60px;
}
.newTop{
	font-size:50px;
	color:#F44336;
	font-family:helvetica;
	text-align:center;
	font-weight:200;
	margin-bottom: 40px;
}
.newNav{
	width:100%;
	height:auto;
	overflow: hidden;
	margin-bottom:74px;
}
.newNav>li{
	width:30%;
	height:auto;
	background:#fff;
	float:left;
	cursor:pointer;
}
.newNav li:first-child{
	width:30%;
	height:300px;
	border-radius: 50%;
	float:left;
	margin-right:150px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	border:6px solid rgba(255,255,255,0.7);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
	display: flex;
	align-items:center;
	justify-content:center;
}
.newNavmask{
	width:50%;
	height:50%;
	border-radius: 50%;
	background:rgba(0,0,0,0.6);
	font-size:14px;
	line-height:144px;
	text-align:center;
	font-family:"微软雅黑";
	color:#fff;
	letter-spacing: 1px;
	opacity:0;
}
.new01{
	font-size:90px;
	font-family: helvetica;
	color:#fedeed;
	padding-left:26px;
	position:relative;
}
.new01word{
	width:310px;
	height:36px;
	background: #fff;
	font-size:14px;
	font-family: "微软雅黑";
	font-weight: bold;
	color:#F44336;	
	position:absolute;
	top:42px;
	left:78px;
}
.new01word span{
	font-size: 12px;
	font-weight: 100;
}
.new01word span:first-child{
	color:#F90274;
}
.new01word span:last-child{
	color:#2a2e36;	
}
.mainli{
	width:488px;
	height:auto;
	margin:10px auto 0;
}
.newzs{
	width:376px;
	height:2px;
	background:#d2cace;
	margin-bottom: 28px;
	position: relative;
}
.newzs>p{
	width:44px;
	height:10px;
	background:#F44336;
	position:absolute;
	top:-4px;
	left:0;
}
.newtd>p:last-child{
	margin-top:30px;
   font-size:12px;
   font-family: helvetica;
   color:#b0b2b4;
   letter-spacing: 1px;
   line-height:18px;
   
}
.more{
	width:100px;
	height:30px;
	background:#F44336;
	border-radius: 34px;
	font-size:18px;
	font-family: helvetica;
    color:#fff;
    text-align: center;
    line-height: 30px;
    margin-top:32px;
}
.more1{
	margin-top:74px;
	width:218px;
	height:68px;
	border:2px solid #F90274;
	background: #fff;
	border-radius: 34px;
	font-size:36px;
	font-family: helvetica;
    color:#F90274;
    text-align: center;
    line-height: 72px;	
}
/*new结束*/
@media screen and (max-width:1200px){
	.new{
		width:100%;
		height:auto;
	}
	.new>main{
		width:90%;
		height:auto;
		margin:0 auto;
	}	
	.newNav li:first-child{
		margin-right:10%;
	}	
}
@media screen and (max-width:995px){
	.new{
		width:100%;
		height:auto;
	}
	.new main{
		width:90%;
		height:auto;
		margin:0 auto;
	}	
	.newNav{
		width:100%;
		height:auto;
		overflow: hidden;
		margin-bottom:74px;
	}
	.newNav>li{
		width:100%;
		height: auto;
	}	
	.newNav li:first-child{
		width:100%;
		height: auto;
		display: flex;
		justify-content: center;
	}
	.newNav li img{
		width:342px;
		height:300px;	
		border-radius:16px;
	}	
}
