<div class="pinglun" mstate="{$mstate}">
        <div class="clycauthor">
            <p style="background-image: url('{IMG_URL}/banner1.jpg')"></p>
            <p>
                <span>{$indexuname}</span>
                <span>{$mdate}</span>
            </p>
        </div>
        <div class="clycon">
            {$mcon}
        </div>
        <div class="clylike">
            <span class="iconfont icon-dianzan"></span>
            <span class="iconfont icon-huifu showhuifu"></span>
        </div>
    </div>
<div class="huifu">
    <div class="addComment">
        <span class="showhuifu" style="color:#777;">添加新评论</span>
        <span class="cancelhuifu" style="color:#777;cursor: pointer;margin-left:40px;">取消</span>
        <div class="Messagehid">
            <textarea placeholder="写下你的评论..." maxlength="200" class="textareaB"></textarea>
            <div style="display: flex;justify-content: space-between">
                <span class="iconfont icon-xiaolian" style="font-size:26px;color:#777;">
                    <span style="font-size: 16px;vertical-align: middle;padding-left:20px;">留下您足迹吧</span>
                </span>
                <div>
                    <span class="cancelhuifu" style="display: inline-block;padding: 6px 14px;background:#e41635;color:#fff;border-radius:2px;font-weight: 500;cursor: pointer;margin-right:50px;">取消</span>
                    <span class="addhuifu" style="display: inline-block;padding: 6px 14px;background:#09bb07;color:#fff;border-radius:2px;font-weight: 500;cursor: pointer">发送</span>
                </div>
            </div>
        </div>
    </div>
</div>