<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>提示信息</title>
    <link href="{CSS_URL}/dpl-min.css" rel="stylesheet">
    <link href="{CSS_URL}/bui-min.css" rel="stylesheet">

</head>
<body>
<div class="demo-content" style="position:fixed; top:36%;left:36%;">
    <div class="doc-content">
        <div class="row">
            <div class="span10">
                <div class="tips tips-large tips-warning">
                    <span class="x-icon x-icon-error">×</span>
                    <div class="tips-content">
                        <h2>{$title}</h2>
                        <p class="auxiliary-text">
                            你可以继续操作以下内容：
                        </p>
                        <p>
                            <a class="direct-lnk" title="配置用户数据权限" href="index.php?m=index" style="margin-right:50px;">返回首页</a>
                            <a class="direct-lnk" title="返回用户管理" href="{$uppage}" style="margin-right:50px;">返回上一页</a>
                            <a href=""><span class="time">3</span>s后跳转</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let time=document.querySelector('.time');
        let timeparent=document.querySelector('.timeparent');
        let t=setInterval(move,1000);
        let num=3;
        function move() {
            num--;
            if(num==0){
                clearInterval(t);
                location.href='{$uppage}';
            }
            time.innerText=num;
        }
    </script>
</div>
</body>
</html>